*.egg
*.egg-info/
*.log
*.manifest
*.mo
*.pid
*.pot
*.py[cod]
*.so
*.spec
*.xml
.Python
.cache
.coverage
.idea
.installed.cfg
.tox/
__pycache__/
apache-opennlp*
build/
coverage.xml
data/
dbs/
develop-eggs/
dist/
docs/_build/
downloads/
dump/
eggs/
env/
htmlcov/
items/
lib/
lib64/
log/
nosetests.xml
parts/
pip-delete-this-directory.txt
pip-log.txt
sdist/
target/
tmp/
var/
work/
